#imgTaxis {
    width: 100%;
    height: 100%;
    position: fixed;

}

#divLogin {
    position: fixed;
    background: white;
    float: right; /* no funciona aún */
    height: 100%;
    width: 35%;
    padding: 2%;
}


h3 {
  margin-bottom: 30px;
}

.inpForm {
  margin-bottom: 30px;
}

.container {
  align-content: center;
  margin-top: 10%;
}

#formRegistro div {
  border-radius: 10px;
}

.form-control-feedback {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.form-control {
  padding-left: 30px !important;
}
