<div class="row">

  <div class="col-md-8">
    <img id="imgTaxis" class="img-responsive img-fluid" src="./assets/img/taxi-wallpaper.jpg" />
  </div>

  <div id="divLogin" class="col-md-4">
    <div class="container">
      <h3 class="text-center">Regístrate</h3>
      <form class="validate-form" id="formRegistro" (ngSubmit)="registrar(fregistro)" #fregistro="ngForm">
        <span *ngIf="fregistro.submitted && fregistro.controls['nombre'].errors" class="text-danger">El nombre no puede estar vacío</span>
        <div class="form-group inpForm">
          <span><i class="fas fa-user form-control-feedback"></i></span>
          <input type="text" name="nombre" minlength="1" maxlength="50" [(ngModel)]="user.nombreCompleto" class="form-control" placeholder="Nombre Completo" required />
        </div>
        <span *ngIf="fregistro.submitted && fregistro.controls['email'].errors" class="text-danger">El correo no es válido</span>
        <div class="form-group inpForm">
          <span><i class="fas fa-at form-control-feedback"></i></span>
          <input type="email" name="email" email [(ngModel)]="user.email" class="form-control" placeholder="Correo Electrónico" required />
        </div>
        <span *ngIf="fregistro.submitted && fregistro.controls['password'].errors" class="text-danger">La contraseña debe tener al menos 6 caractéres, una mayúscula y un caractér alfanumérico</span>
        <div class="form-group inpForm">
          <span><i class="fas fa-unlock form-control-feedback"></i></span>
          <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Contraseña" required />
        </div>
        <span *ngIf="fregistro.submitted && fregistro.controls['usuario'].errors" class="text-danger">El usuario no puede estar vacío</span>
        <div class="form-group inpForm">
          <span><i class="fas fa-user-circle form-control-feedback"></i></span>
          <input type="text" name="usuario" minlength="1" maxlength="20" [(ngModel)]="user.nombreUsuario" class="form-control" placeholder="Nombre de Usuario" required />
        </div>
        <span *ngIf="fregistro.submitted && fregistro.controls['phone'].errors" class="text-danger">El teléfono no es válido</span>
        <div class="form-group inpForm">
          <span><i class="fas fa-phone form-control-feedback"></i></span>
          <input type="tel" name="phone" minlength="10" maxlength="10" pattern="[0-9]{10}" phone [(ngModel)]="user.telefono" class="form-control" placeholder="Número Telefónico" required />
        </div>
        <div class="inpForm">
          <button type="submit" class="btn btn-primary form-control">Aceptar</button>
        </div>
      </form>
      <hr />
    </div>
    <div class="text-center">
      <a [routerLink]="['/login']">¿Ya tienes cuenta? Inicia Sesión</a>
    </div>
  </div>

</div>
