<div class="row">

  <div class="col-md-8">
    <img id="imgTaxis" class="img-responsive img-fluid" src="./assets/img/taxi-wallpaper.jpg" />
  </div>

  <div id="divLogin" class="col-md-4">
    <div class="container">
      <h3 class="text-center">Iniciar Sesión</h3>
      <form id="formLogin">
        <div class="form-group">
          <span><i class="fas fa-at form-control-feedback"></i></span>
          <input type="email" class="form-control" placeholder="Correo Electrónico" required />
        </div>
        <div class="form-group">
          <span><i class="fas fa-unlock form-control-feedback"></i></span>
          <input type="password" class="form-control" placeholder="Contraseña" required />
        </div>
        <div>
          <button type="submit" class="btn btn-primary form-control">Iniciar Sesión</button>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">Recordarme</label>
        </div>
      </form>
      <hr />
    </div>
    <div class="text-center">
      <a href="#">¿No tienes cuenta? Regístrate</a>
    </div>
  </div>

</div>
